.Home {
  display: flex;
  flex-direction: column;
  font-family: 'Pixelify Sans', sans-serif;
  text-align: center;
  color: white;
}

.Home h1 {
  margin: 5rem;
}

.Home p {
  font-size: larger;
}

.img-circle {
  height: 350px;
  border-radius: 50%;
  border: solid #fff;
  box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.2);
}
