body {
  background-color: midnightblue;
}

.game span {
  position: fixed;
  bottom: -80px;
  animation: animate 10s linear infinite;
  font-size: 60px;
  z-index: -1;
}

.game span:nth-child(1) {
  left: 60px;
  animation-delay: 0.6s;
}

.game span:nth-child(2) {
  left: 10%;
  animation-delay: 3s;
}

.game span:nth-child(3) {
  left: 20%;
  animation-delay: 2s;
}

.game span:nth-child(4) {
  left: 30%;
  animation-delay: 5s;
}

.game span:nth-child(5) {
  left: 40%;
  animation-delay: 1s;
}
.game span:nth-child(6) {
  left: 50%;
  animation-delay: 7s;
}
.game span:nth-child(7) {
  left: 60%;
  animation-delay: 6s;
}
.game span:nth-child(8) {
  left: 70%;
  animation-delay: 8s;
}

@keyframes animate {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  70% {
    opacity: 0.8;
  }
  100% {
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
  }
}
